Name :  Elimelech
Roll No: 009

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

1. Data Gathering : student depression data
2. Data Loading

In [3]:
df = pd.read_csv("student_depression_dataset.csv")
df

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

3. Data Exploration

In [4]:
df.head(2)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0

In [5]:
df.tail(2)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

In [6]:
df.columns

# for cols in df.columns:
#     print(cols)

Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [7]:
df.count()

id                                       27901
Gender                                   27901
Age                                      27901
City                                     27901
Profession                               27901
Academic Pressure                        27901
Work Pressure                            27901
CGPA                                     27901
Study Satisfaction                       27901
Job Satisfaction                         27901
Sleep Duration                           27901
Dietary Habits                           27901
Degree                                   27901
Have you ever had suicidal thoughts ?    27901
Work/Study Hours                         27901
Financial Stress                         27901
Family History of Mental Illness         27901
Depression                               27901
dtype: int64

In [8]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB

In [10]:
df.shape
print(f'No. of Rows: {df.shape[0]} and No. of columns: {df.shape[1]}')

No. of Rows: 27901 and No. of columns: 18

In [11]:
df['City'].unique()

array(['Visakhapatnam', 'Bangalore', 'Srinagar', 'Varanasi', 'Jaipur',
       'Pune', 'Thane', 'Chennai', 'Nagpur', 'Nashik', 'Vadodara',
       'Kalyan', 'Rajkot', 'Ahmedabad', 'Kolkata', 'Mumbai', 'Lucknow',
       'Indore', 'Surat', 'Ludhiana', 'Bhopal', 'Meerut', 'Agra',
       'Ghaziabad', 'Hyderabad', 'Vasai-Virar', 'Kanpur', 'Patna',
       'Faridabad', 'Delhi', 'Saanvi', 'M.Tech', 'Bhavna', "'Less Delhi'",
       'City', '3.0', "'Less than 5 Kalyan'", 'Mira', 'Harsha', 'Vaanya',
       'Gaurav', 'Harsh', 'Reyansh', 'Kibara', 'Rashi', 'ME', 'M.Com',
       'Nalyan', 'Mihir', 'Nalini', 'Nandini', 'Khaziabad'], dtype=object)

In [12]:
df.nunique()

id                                       27901
Gender                                       2
Age                                         34
City                                        52
Profession                                  14
Academic Pressure                            6
Work Pressure                                3
CGPA                                       332
Study Satisfaction                           6
Job Satisfaction                             5
Sleep Duration                               5
Dietary Habits                               4
Degree                                      28
Have you ever had suicidal thoughts ?        2
Work/Study Hours                            13
Financial Stress                             6
Family History of Mental Illness             2
Depression                                   2
dtype: int64

In [13]:
df.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

4. Data Preprocessing

4.1. Manage null values

In [14]:
# df.drop('id', axis=1, inplace=True)
df = df.drop('id', axis=1)

In [15]:
# df.drop('City', axis=1, inplace=True)
df = df.drop('City', axis=1)

In [ ]:
# Mean, Median, Mode

# df['CGPA'].mean()
# df['CGPA'].median()
df['CGPA'].mode()[0]

8.04

In [17]:
# df['ID'].fillna(df['ID'].mode()[0], inplace=True)
df['Sleep Duration'] = df['Sleep Duration'].fillna(df['Sleep Duration'].mode()[0])

In [18]:
# For Object / String Type
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Sleep Duration']
fillnaObjectMode(columns)

In [20]:
# For Int Type
def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Work/Study Hours', 'Age']
fillnaIntMode(columns)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27901 non-null  object
 1   Age                                    27901 non-null  float64
 2   Profession                             27901 non-null  object
 3   Academic Pressure                      27901 non-null  float64
 4   Work Pressure                          27901 non-null  float64
 5   CGPA                                   27901 non-null  float64
 6   Study Satisfaction                     27901 non-null  float64
 7   Job Satisfaction                       27901 non-null  float64
 8   Sleep Duration                         27901 non-null  object
 9   Dietary Habits                         27901 non-null  object
 10  Degree                                 27901 non-null  object
 11  Have you ever had suicidal thoughts ?  27901 non-null  object
 12  Work/Study Hours                       27901 non-null  float64
 13  Financial Stress                       27901 non-null  object
 14  Family History of Mental Illness       27901 non-null  object
 15  Depression                             27901 non-null  int64
dtypes: float64(7), int64(1), object(8)
memory usage: 3.4+ MB

In [23]:
df['Age'] = df['Age'].astype('int64')
# df['Age'].astype('int64', inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27901 non-null  object
 1   Age                                    27901 non-null  int64
 2   Profession                             27901 non-null  object
 3   Academic Pressure                      27901 non-null  float64
 4   Work Pressure                          27901 non-null  float64
 5   CGPA                                   27901 non-null  float64
 6   Study Satisfaction                     27901 non-null  float64
 7   Job Satisfaction                       27901 non-null  float64
 8   Sleep Duration                         27901 non-null  object
 9   Dietary Habits                         27901 non-null  object
 10  Degree                                 27901 non-null  object
 11  Have you ever had suicidal thoughts ?  27901 non-null  object
 12  Work/Study Hours                       27901 non-null  float64
 13  Financial Stress                       27901 non-null  object
 14  Family History of Mental Illness       27901 non-null  object
 15  Depression                             27901 non-null  int64
dtypes: float64(6), int64(2), object(8)
memory usage: 3.4+ MB

In [25]:
%pip install scikit-learn

import numpy as np
from sklearn.preprocessing import LabelEncoder

Requirement already satisfied: scikit-learn in c:\users\lenovo\anaconda3\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
# data = pd.DataFrame({'Gender': df['Gender'].unique()})
# data_LE = LabelEncoder()
# data_LE.fit(np.ravel(data))
# df['Gender'] = data_LE.transform(df['Gender'])

In [29]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i: df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))
        df[i] = data_LE.transform(df[i])

columns = ['Gender', 'Dietary Habits']
convertObjToInt(columns)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27901 non-null  int64
 1   Age                                    27901 non-null  int64
 2   Profession                             27901 non-null  object
 3   Academic Pressure                      27901 non-null  float64
 4   Work Pressure                          27901 non-null  float64
 5   CGPA                                   27901 non-null  float64
 6   Study Satisfaction                     27901 non-null  float64
 7   Job Satisfaction                       27901 non-null  float64
 8   Sleep Duration                         27901 non-null  object
 9   Dietary Habits                         27901 non-null  int64
 10  Degree                                 27901 non-null  object
 11  Have you ever had suicidal thoughts ?  27901 non-null  object
 12  Work/Study Hours                       27901 non-null  float64
 13  Financial Stress                       27901 non-null  object
 14  Family History of Mental Illness       27901 non-null  object
 15  Depression                             27901 non-null  int64
dtypes: float64(6), int64(4), object(6)
memory usage: 3.4+ MB

In [31]:
df.to_csv('processed_data.csv', index=False, header=True)

In [32]:
df = pd.read_csv('processed_data.csv')
df

,Gender,Age,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,1,33,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',0,B.Pharm,Yes,3.0,1.0,No,1
1,0,24,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',1,BSc,No,3.0,2.0,Yes,0
2,1,31,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',0,BA,No,9.0,1.0,Yes,0
3,0,28,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',1,BCA,Yes,4.0,5.0,Yes,1
4,0,25,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',1,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,0,27,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',3,'Class 12',Yes,7.0,1.0,Yes,0
27897,1,27,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',0,MSc,No,0.0,3.0,Yes,0
27898,1,31,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',3,MD,No,12.0,2.0,No,0
27899,0,18,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',0,'Class 12',Yes,10.0,5.0,No,1
27900,1,27,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',0,BCA,Yes,2.0,3.0,Yes,1